body {
    font-family: Arial, sans-serif;
    background-color: #dcf2fd;
    padding: 20px;
}

.resultados {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #85bbc3;
    border: 1px solid #fefefe;
    box-shadow: 0 0 10px rgba(248, 246, 246, 0.42);
    border-radius: 10px;
}

.resultados p {
    margin-bottom: 20px;
}

.resultados p:last-child {
    font-weight: bold;
    color: #000000;
}

  /* Animación */
.resultados {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.resultados.show {
    opacity: 1;
    transform: translateY(0);
}